<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/login.css"/>
    <title>Sign up</title>
</head>
<body>
    <h1 id="mHead">Sign up</h1>

    <form action="/loginsignup/signup" method="post">
        <div id="pnlLogin">
            <div class="form-control">
                <!-- <div class="iback">
                <span class="fa fa-user" style="font-size: 24px;"></span>
                </div> -->
                <label for="firstname">Firstname</label>
                
                <input name="firstname" class="form-control" name="firstname"/>
            </div>
            <div class="form-control">
                <!-- <div class="iback">
                <span class="fa fa-lock" style="font-size: 24px;"></span>
                </div> -->
                <label for="lastname">Lastname</label>
                
                <input name="lastname" type="password" class="form-control" name="lastname"/>
            </div>

            <div class="form-control">
                <!-- <div class="iback">
                <span class="fa fa-user" style="font-size: 24px;"></span>
                </div> -->
                <label for="email">Email</label>
                
                <input name="email" class="form-control" name="email"/>
            </div>

            <!-- <div class="form-control">
                <div class="iback">
                <span class="fa fa-lock" style="font-size: 24px;"></span>
                </div>
                <label for="password">Password</label>
                
                <input name="password" type="password" class="form-control" name="password"/>
            </div> -->

            <div class="form-control">
                <!-- <div class="iback">
                <span class="fa fa-user" style="font-size: 24px;"></span>
                </div> -->
                <label for="username">Username</label>
                
                <input name="username" class="form-control" name="username"/>
            </div>
            <div class="form-control">
                <!-- <div class="iback">
                <span class="fa fa-lock" style="font-size: 24px;"></span>
                </div> -->
                <label for="password">Password</label>
                
                <input name="password" type="password" class="form-control" name="password"/>
            </div>

            <div>
                <input type="submit" value="Sign up" class="btn btn-outline-primary">
                <a class="btn btn-outline-danger">Cancel</a>
            </div>
        </div>
    </form>

</body>
</html>