<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/pure.css"/>
    <title>Menu</title>
</head>
<body>
    <h1 class="mHead">Menu</h1>
    
    <div class="pnlMain">
        <a href="app/policyholders" class="btn btn-outline-primary">Policyholders</a>
        <a href="app/addpolicyholder" class="btn btn-outline-primary">Add Policyholder</a>
        <a href="app/policyholders" class="btn btn-outline-primary">Edit Policyholder</a>
        <a href="app/deletepolicyholder" class="btn btn-outline-primary">Delete Policyholder</a>
    </div>

</body>
</html>